.App {
  text-align: center;
}

.text__form {
  display: flex;
  flex-direction: row;
}

.app__input {
  padding-left: 1em;
  padding-right: 1em;
}

.result__box {
  padding-top: 5em;
  font-size: 1.4em;
}